.Loader {
    position: absolute;
    top: 0;
    left: 4rem;
    right: 0;
    bottom: 0;
    height: 4rem;
    width: 4rem;
    max-width: 100%;
    text-align: center;
    margin: auto;
}

.SideEmail {
    position: fixed;
    bottom: 0;
    left: auto;
    right: 0.6rem;
    z-index: 10;
    font-size: 1.2rem;
}

.SideEmail::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--dark_green);
}

.SideEmailLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.SideEmailLabel a {
    margin: 15px auto;
    margin-top: auto;
    padding: 10px;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    color: var(--dark_green);
}

.SideEmailLabel a:hover {
    color: var(--light_green);
}

.ContentZone {
    display: flex;
    overflow-wrap: break-word;
    opacity: 1;
    animation: changedisplay ease-in-out 2s;
}

.TextZone {
    width: 40%;
    display: block;
    font-size: 1.6rem;
    padding: 1rem;
}

.TextZone p {
    margin-bottom: 24px;
}

.ShowZone {
    width: 60%;
    padding: 3rem;
    position: relative;
}

.SubLine {
    height: 2rem;
    margin-left: 5rem;
    cursor: default !important;
}

.ShowZone .Location {
    width: 100%;
    height: 100%;
}

.Location iframe {
    border: 1px solid var(--dark_green);
    width: 100%;
    height: 100%;
    opacity: 1;

}

@keyframes changedisplay {
    0% {
        opacity: 0;
    }
}

.ContactForm {
    width: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
}

.ContactForm ul {
    display: block;
}

.ContactForm ul li {
    float: left;
    overflow: hidden;
    position: relative;
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

.ContactForm ul li input, .ContactForm textarea {
    height: 5rem;
    background-color: var(--mid_green);
    border: 0;
    width: 100%;
    color: var(--light_green);
    font-size: 1.6rem;
    box-sizing: border-box;
}

.ContactForm ul li input {
    padding: 0 1.5rem;
}

.ContactForm ul li input:focus, .ContactForm textarea:focus {
    background-color: var(--dark_green);
    transition: all 2s;
}

.ContactForm textarea {
    padding: 1.5rem;
    min-height: 15rem;
    font-family: 'Lato', sans-serif;
}

.ContactForm textarea::placeholder, .ContactForm ul li input::placeholder {
    color: var(--light_green);
}

.HalfLine {
    clear: none;
    margin-left: 3%;
    width: 48.5% !important;
}

.HalfLine:first-child {
    margin-left: 0 !important;
}

.Submit {
    float: right !important;
    max-width: 14rem;
}

.Submit input {
    background-color: var(--dark_green) !important;
    cursor: pointer;
}

.Submit input:hover {
    background-color: var(--light_green) !important;
    color: var(--dark_green);
    border: 1px solid var(--dark_green);
    transition: all 0.3s;
}

.SkillsChart {}

.SkillLine {
    background-color: var(--ultra_light_green);
    max-width: 100%;
    height: 3.2rem;
    position: relative;
    display: flex;
    margin-bottom: 1.2rem;
    cursor: pointer;
}

.SkillLine:hover {
    cursor: pointer;
}

.SubLine {
    height: 2rem;
    margin-left: 5rem;
    cursor: default !important;
    background-color: var(--ultra_light_green);
}

.SubLine .ProgressBar {
    background-color: var(--mid_green);
    color: var(--ultra_light_green);
}

.SubLine .SkillName, .SubLine .SkillPercent {
    font-size: 1.2rem !important;
}

.ProgressBar {
    color: var(--ultra_light_green);
    font-weight: bold;
    font-size: 1.6rem;
    height: 100%;
    background-color: var(--dark_green);
    box-sizing: border-box;
    animation: changewidth ease-in-out 2s;
    display: block;
    align-items: flex-end;
}

.ProgressBar span {
    display: flex;
    height: 100%;
    margin-right: 1rem;
    align-items: center;
    float: right;
}

@keyframes changewidth {
    0% {
        width: 0%;
    }
}

.SkillName {
    height: 100%;
    display: flex;
    width: 110px;
    box-sizing: border-box;
    align-items: center;
    padding: 1rem;
    float: left;
}

.SkillPercent {
    height: 100%;
    display: flex;
    float: right;
    align-items: center;
    margin-right: 1rem;
}