.Loader {
    position: absolute;
    top: 0;
    left: 4rem;
    right: 0;
    bottom: 0;
    height: 4rem;
    width: 4rem;
    max-width: 100%;
    text-align: center;
    margin: auto;
}

.ContentZone {
    display: flex;
    overflow-wrap: break-word;
    opacity: 1;
    animation: changedisplay ease-in-out 1.5s;
}

@keyframes changedisplay {
    0% {
        opacity: 0;
    }
}

.TextZone {
    width: 40%;
    display: block;
    font-size: 1.6rem;
    padding: 1rem;
}

.TextZone p {
    margin-bottom: 24px;
    text-align: justify;
}

.ShowZone {
    width: 60%;
    padding: 3rem;
    position: relative;
}