:root {
    --mid_green: #606c38;
    --dark_green: #283618;
    --light_green: #ccd5ae;
    --ultra_light_green: #e9edc9;
    --white_bg: #fefae0;
    --logo_white: #fff;
    --color4: #dda15e;
    --color5: #bc6c25;
    --hidden_sidebar: -12rem;
    --sidebar_width: 12rem;
}